@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #212121;
  font-family: "Open Sans", sans-serif;
}

.container {
  background: rgba(24, 20, 20, 0.987);
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 400px;
}

.form {
  margin: 30px 40px;
}

h2 {
  color: #fff;
  text-align: center;
  margin: 0 0 20px;
}

.form-control {
  margin-bottom: 12px;
  padding-bottom: 24px;
  position: relative;
}

.form-control label {
  color: #fff;
  display: block;
  margin-bottom: 6px;
  pointer-events: none;
  transition: 0.5s;
}

.form-control input {
  display: block;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  color: #fff;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  visibility: hidden;
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
}
.form button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.form button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.form button:active {
  box-shadow: none;
  transform: translateY(0);
}
